@import "../basic/colors";
@import "../basic/breakpoints";

//reusable chunks
%wrapper {
  width: 1254px;
  padding: 0 15px;
  margin: 0 auto;
  max-width: 100%;
  overflow: hidden;
}

%flex-horizontal {
  display: flex;
  flex-flow: row wrap;
  justify-content: space-between;
}

.app-header {
  padding: 20px 0;
  .menu-list {
    list-style: none;
    display: flex;
  }
  .menu-item {
    margin-right: 10px;
    &:last-child {
      margin-right: 0;
    }
  }
  .mobile-menu {
    display: none;
    background: $white;
    width: 100%;
    height: 100%;
    position: absolute;
    top: 80px;
    left: 0;
    right: 0;
    margin: 0 auto;
    z-index: 3;
    .menu-list {
      padding: 0;
      display: flex;
      flex-direction: column;
      justify-content: center;
      align-items: center;
    }
    .menu-item {
      margin: 0 0 10px 0;
      &:last-child {
        margin: 0;
      }
    }
  }
}

//common classes
.wrapper {
  @extend %wrapper;
}

.inline-flex-link {
  display: inline-flex;
}

.mobile-only {
  display: none;
}

.a-center {
  text-align: center;
}

.a-left {
  text-align: left;
}

.a-right {
  text-align: right;
}

.hidden {
  display: none;
}

.menu-icon-wrap {
  width: fit-content;
  padding: 5px 20px;
  background: inherit;
  border: none;
  box-shadow: none;
  outline: none;
}


@media (max-width: $bpMobile) {
  .mobile-only {
    display: block;
  }
  .desktop-menu {
    display: none;
  }
  .app-header {
    .mobile-menu{
      &.menu-opened {
        display: block;
      }
    }
  }
}