$bpLargeDesktop: 1580px;
$bpMedDesktop: 1280px;
$bpMedDesktopMin: 1279px;
$bpSmallDesktop: 1024px;
$bpTablet: 960px;
$bpDesktopMin: 961px;
$bpMobile: 600px;
$bpSmallerMobile: 480px;
$bpXsMobile: 350px;

