//default values
$bgColor: #ffffff;
$primaryTextColor: #316FEA;
$secondaryTextColor: #1A1919;
$inputBg: #ffffff;
$inputBgFocus: #ffffff;
$inputBgAutofocus: #f8f8f8;
$inputBorder: #D3D8DC;
$inputFocusBorder: #bdc1c7;
$inputValue: #060E1E;
$labelColor: #A1ABB5;
$borderColor: #D3D8DC;
$dividerColor: #E3E6E9;
$primaryButtonColor: #316FEA;
$primaryButtonTextColor: #ffffff;

//colors
$white: #ffffff;
$red: #ff0000;
$black: #000000;