//default values
$bgColor: #ffffff;
$primaryTextColor: #316FEA;
$secondaryTextColor: #1A1919;
$inputBg: #ffffff;
$inputBgFocus: #ffffff;
$inputBorder: #D3D8DC;
$inputFocusBorder: #bdc1c7;
$inputValue: #060E1E;
$labelColor: #A1ABB5;

//colors
$white: #ffffff;
$red: #ff0000;
$black: #000000;